* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 12px 80px;
    background-color: rgb(66, 107, 164);
    color: white;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color:white;
}
.container {
    max-width: 100%;
    margin: auto;
}
.content {
    margin: 25px 80px;
}
.content_form {
    margin-top: 30px;
}
button {
    background-color: rgb(63, 180, 118);
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: medium;
}
label {
    padding-right: 500px;
    margin-left: 5px;
}
form input {
    width: 500px;
    height: 45px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    background-color: white;
}
.content_table {
    padding-top: 30px;
}
.content_table table {
    border-collapse: collapse;
    width: 100%;
}
.content_table th {
    background-color: rgb(234, 237, 240);
    color: dimgray;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    border-bottom: 1px solid dimgray;
}
.content_table td {
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    border-bottom: 1px solid dimgray;
}
.content_table a {
    width: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: medium;
    padding: 9px 12px 9px 12px;
}
#edit {
    background-color: rgb(62, 174, 181);
}
#delete {
    background-color: rgb(180, 57, 60);
}
small {
    margin-left: 30px;
    color: green;
}