* {
  margin: 0;
  padding: 0;
}
form {
  background-color: rgb(34, 37, 54);
  color: goldenrod;
  max-width: 600px;
  margin: auto;
}
td {
  text-align: right;
  padding-bottom: 15px;
}
.form_header {
  background-color: goldenrod;
  color: rgb(34, 37, 54);
  height: 40px;
  font-size: large;
  padding-top: 5px;
  text-align: center;
}
form .form_submit {
  background-color: goldenrod;
  height: 40px;
}
.form_submit input {
  background-color: green;
  height: 30px;
  margin-top: 5px;
  width: 80px;
  color: white;
  margin-left: 80px;
}
#fname_err,
#lname_err,
#country_err,
#password_err,
#cpassword_err,
#gender_err,
#dob_err,
#phone_err,
#email_err,
#terms_err {
  color: red;
}
.information {
  margin-top: 20px;
  margin-left: 570px;
}
